html {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #000;
  margin: 0px;
}
.container {
  font-family: monospace;
  color: #fff;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}
.container a {
  color: #fff;
}
.container a:visited {
  color: #888;
}
footer.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px;
}
